.adopcion-titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.header-adopcion-container{
    background-color: #ECECEC;
    padding: 30px;
    border-radius: 20px;
}
.header-adopcion-container h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.header-adopcion-container img{
    width: 100%;
    max-width: 357px;
    height: auto;
}
.tituloAdopcion{
    font-weight: bold;
    font-size:30px;
}
.listaContainer Col{
    max-width: 237px;
    max-height:170px;
}
.listaContainer h2{
    font-size: 20px;
    font-weight: bold;
}
.listaContainer img{
    object-fit:cover;
    border-radius:10px;
    max-width: 237px;
}
.listaContainer p{
    max-height:170px;
    font-size:15px;
    max-width: 237px;
    
}
.flechaIzq{
    width: 60px;
    position: absolute;
    left:0;
}
.flechaDer{
    width: 60px;
    position: absolute;
    right:0;    
}

.esquinas{
    border-radius: 10px!important;
}