.container-contacto{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 85px;
    padding: 30px;
    background-color: #AE4345;
    border-radius: 15px;
}

.container-contacto h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.rrss{
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #ECECEC;
    width: 40vw;
    padding: 20px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
