/* ESTILOS ESTADISTICAS */
.colorFondoEstadisticas-home{
    background-color: var(--estadisticas);
  }
  .colorFondoAdopcion-home{
    background-color: var(--adopcion);
  }
  .estadisticas-home-container a, .estadisticas-home-container a:hover{
      color: inherit;
  }
  /* ESTILOS HEADER */
  .header-home-titulo{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom : 42px;
  }
  
  .header-home-text{
    font-size: 15px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header-home-epigrafe{
    font-size: 15px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* ESTILOS ADOPCION */
  
  .adopcion-home-container h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  .adopcion-home-container h2{
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
  .adopcion-home-container p{
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
  }
  .adopcion-home-container img{
    width: 179px;
    height: 129px;
    object-fit: cover;
    border-radius: 10px;
  }
  .adopcion-home-container a, .adopcion-home-container a:hover{
    color: inherit!important;
    text-decoration-color: white!important;
}
  

  /* ESTILOS NOTICIAS*/
  .noticias-container-home{
    border: 2px solid black;
  }
  .noticias-container-home img{
    width: 179px;
    height: 129px;
    object-fit: cover;
    border-radius: 10px;
  }
  .noticias-container-home h1{
    color: #020000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  .noticias-container-home h2{
    font-weight: bold;
    font-size: 23px;
  }
  .noticias-container-home p{
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
  
  }
  .noticias-container-home a, .noticias-container-home a:hover{
    color: inherit;
}
.linksPaginas{
  font-weight: bold;
  font-size:22px;
  cursor: pointer;
}