p {
	font-weight: normal;
}
.titulo-perros {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 0px!important;
}
.subtitulo-perros{
	color: gray
}
.descripcion-perros {
	font-size: 17px;
}
.titulo-descripcion-perros {
	font-weight: bold;
}
.boton-adoptar {
	font-size: 30px !important;
}
.texto-contactanos {
	font-weight: bold;
	font-size: 15px;
}
.texto-contactanos a {
	color: #dc4245;
}

.texto-contactanos a:hover {
	color: #dc4245;
}
.input-agregar-perro {
	font-weight: bold;
}
