@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fuente{
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ESTILOS DE LA NAVBAR */
.links{
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.der{
  text-align: right;
}
.izq{
  text-align: left;
}
.links:hover{
  color: #c46869
}
.active{
  color: #ad4345
}
.navbar-logo{
  height: 59px;
  width: auto;
  padding-left: 75px;
}

/* ESTILOS DE EL FOOTER */

.footer-titulo{
  font-size: 40px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;

}
.footer-text{
  font-size: 15px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

.footer-container{
  background: #d4d4d4;
  padding: 20px;
}

/* ESTILOS CUSTOM */
.colores-rojo{
  background: #ad4345!important
}
.colores-rojo-text{
  color: #ad4345!important
}

/* */
