/* ESTO ESTA EN EL HEADERNOSOTROS */
.WARNING{
  color: red;
  font-weight: bold;
}
.WARNING::after, .WARNING::before{
  content: " ⚠ ";
}
/* SEPARADOR */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --rojo: #ad4345;
  --gris:#d4d4d4;
  --estadisticas: #f3f3f3;
  --adopcion: #AE4345;
}
.fuente{
  font-family: 'Montserrat', sans-serif;
}

/* ESTILOS GLOBALES*/
img{
  width:100%;
}
h1{
  font-size:30px;
  font-weight: bold;
}
.center{
  text-align: center;
}
.mucho-padding{
  padding-bottom: 20%;
  padding-top: 10%;
}
.colores-rojo{
  background:var(--rojo)!important
}
.colores-rojo-text{
  color: var(--rojo)!important
}
.colores-gris{
  background: var(--gris)!important
}
.negrita{
  font-weight: bold;
}
.fs-13{
  font-size: 1.3rem;
}
.borderRadius{
  border-radius: 20px;
}
.txtDecorateNone{
  text-decoration: none;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}

/* ESTILOS DE LA NAVBAR */
.links{
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.der{
  text-align: right;
}
.izq{
  text-align: left;
}
.links:hover{
  color: #c46869;
  text-decoration:none;
}
.active{
  color: var(--rojo)!important; 
}
.navbar-logo{
  height: 59px;
  width: auto;
  padding-left: 75px;
}

/* ESTILOS DE EL FOOTER */

.footer-titulo{
  font-size: 40px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;

}
.footer-text{
  font-size: 15px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

.footer-container{
  background: var(--gris);
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

:root{
  --normal: #1f1f8c;
  --hover: #3a3340;
}

.footer-email{
  color: var(--normal);
}
.footer-email:hover{
  color: var(--hover);
  text-decoration: underline;
  cursor: pointer;
}

.footer-container a{
  color: var(--normal);
}
.footer-container a:hover{
  color: var(--hover)
}

.footer-email:active{
  user-select: none;
}

.footer-link{
  margin-bottom: 0!important;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black!important;
}


@media only screen and (min-width: 1000px) {
  .barra-footer{
    border: 0;
    height: 0px;
    background: transparent;
  }
}
@media only screen and (max-width: 1001px) {
  .barra-footer{
    border: 1;
    height: 1px;
    width: 100%;
    background: #888;
  }
  .titulo-contacto-footer::after{
    content: "REDES:";
  }
  .espaciado-footer::after{
    color: transparent;
    content: "--";
  }
}

.fake-link{
color: #007bff
}
.fake-link:hover{
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}